/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #00252e;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@media screen and (min-width: 500px) {
  h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

a,
li,
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

@media screen and (min-width: 500px) {
  a,
  li,
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  a,
  li,
  p {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.btn--white {
  border: 0.6px solid #ff52bf;
  box-shadow: 0px 0px 5px rgba(255, 82, 191, 0.22);
  color: #ff52bf;
}

.btn--sm {
  border-radius: 11.76px;
  padding: 0.14313rem 1.1725rem 0.515rem 1.14rem;
}

.btn--pink {
  background: #ff52bf 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.22);
  border-radius: 20px;
  color: white;
  opacity: 1;
}

.btn--lg {
  padding: 0.75rem 2.5rem;
}

.btn--sub {
  font-size: 1rem;
  background: #FF52C1 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  line-height: 1.5rem;
  opacity: 1;
  padding: 0.8125rem 2.625rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.75rem 6.4vw;
}

header .logo {
  background-image: url("../images/logo.svg");
  background-size: contain;
  height: 1rem;
  width: 6rem;
}

.foot {
  background-color: #00252e;
  color: white;
  margin-top: 15.6875rem;
  padding-bottom: 2.8125rem;
  padding-top: 6.25rem;
  position: relative;
}

.foot .cont {
  margin: 0 7.2vw;
}

.foot .icon {
  width: 23px;
}

.foot--one {
  margin-top: 6.25rem;
}

.foot--one p {
  margin-top: 1.0625rem;
}

.foot--one form {
  margin-top: 3.8125rem;
  text-align: right;
}

.foot--one form textarea {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 6px;
  height: 3rem;
  margin-bottom: 1rem;
  opacity: 1;
  resize: none;
  width: 100%;
}

.foot--two {
  padding-top: 6.5rem;
}

.foot--two textarea {
  height: 2rem;
  resize: none;
  width: 12.5rem;
}

.foot--two p {
  margin-top: 1rem;
}

.foot--two .contact {
  margin-top: 2.5625rem;
}

.foot--two .contact img {
  margin-right: 1.1875rem;
  margin-bottom: -0.6875rem;
}

.foot--two .contact li {
  margin-bottom: 1.3125rem;
}

.foot--two .social {
  margin-top: 3rem;
}

.foot--two .social li {
  display: inline;
  margin-right: 1.08312rem;
}

.foot::before {
  content: "";
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: -13.33vw;
  width: 100%;
}

.home--one {
  margin: 0 12.53vw;
  text-align: center;
}

.home--one h1 {
  margin-top: 7.02937rem;
}

.home--one p {
  margin-bottom: 3.125rem;
  margin-top: 1.6875rem;
}

.home--one .img-cont {
  background-image: url("../images/screen-mockups.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 209px;
  margin: 6.5rem auto 0 auto;
  width: 296px;
}

.home--two {
  margin: 7.825rem 29.33vw 0 29.33vw;
}

.home--two h2 {
  font-size: 3.80938rem;
  line-height: 5.71438rem;
}

.home--two p {
  color: #808d99;
  font-size: 0.9525rem;
  line-height: 1.42875rem;
  margin-bottom: 5.84438rem;
  text-align: center;
}

.home--three {
  text-align: center;
}

.home--three h2,
.home--three p {
  margin: 0 7.73vw;
}

.home--three h2 {
  margin-top: 2.125rem;
}

.home--three p {
  margin-top: 1.5rem;
}

.home--three .img-cont {
  background-size: contain;
  background-repeat: no-repeat;
  height: 13.25rem;
  margin: 0 auto;
  width: 16.1875rem;
}

.home--three--A {
  background-color: #f5faff;
  padding: 6.25rem 0;
  position: relative;
}

.home--three--A .img-cont {
  background-image: url("../images/illustration-grow-together.svg");
}

.home--three--A::before {
  content: "";
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  left: 0;
  position: absolute;
  top: -29.33vw;
  width: 100%;
}

.home--three--A::after {
  content: "";
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
  left: 0;
  position: absolute;
  bottom: -13.33vw;
  width: 100%;
}

.home--three--B .img-cont {
  background-image: url("../images/illustration-flowing-conversation.svg");
  margin-top: 13.28125rem;
}

.home--three--C {
  background-color: #f5faff;
  margin-top: 14.1875rem;
  margin-bottom: 14.1875rem;
  padding: 6.25rem 0;
  position: relative;
}

.home--three--C .img-cont {
  background-image: url("../images/illustration-your-users.svg");
}

.home--three--C::before {
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: -26.67vw;
  width: 100%;
}

.home--three--C::after {
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  bottom: -26.67vw;
  width: 100%;
}

.home--four {
  margin: 0 19.2vw;
  text-align: center;
}

.home--four h2 {
  margin-bottom: 2.6875rem;
}
/*# sourceMappingURL=main.css.map */