.home {

    &--one {
        margin: 0 12.53vw;
        text-align: center;

        h1 {
            margin-top: toRem(112.47);

            @include media-lg {
                margin-top: toRem(213);
            }
        }

        p{
            margin-bottom: toRem(50);
            margin-top: toRem(27);

            @include media-lg {
                margin: toRem(44) 14.39vw toRem(52) 14.39vw;
            }
        }

        .img-cont {
            background-image: url('../images/screen-mockups.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 209px;
            margin: toRem(104) auto 0 auto;
            width: 296px;

            @include media-lg {
                height: 720px;
                width: 1016px;

            }
        }
    }

    &--two {
        margin-top: toRem(125.2);

        @include media-lg {
            display: flex;
            margin-top: toRem(120);
        }
        

        h2 {
            font-size: toRem(60.95);
            line-height: toRem(91.43);

            @include media-lg {
                font-size: toRem(96);
                line-height: toRem(144);
            }
            
        }

        p {
            color: hsla(208, 11%, 55%, 1);            
            font-size: toRem(15.24);
            line-height: toRem(22.86);
            margin-bottom: toRem(93.51);

            @include media-lg {
                margin-bottom: toRem(244);
            }
            
        }

        .cont {
            margin: 0 auto;
            text-align: left;
            width: toRem(160);

            p {
                text-align: center;
            }

            @include media-lg {
                width: toRem(250);
            }
        }
    }

    &--three {
       text-align: center;

       @include media-lg {
           text-align: left;
       }

       h2,
       p {
          margin: 0 7.73vw; 

          @include media-lg {
              margin: 0;
          }
       }

       h2 {
           margin-top: toRem(34);

           @include media-lg {
               margin: 0;
           }
       }

       p {
           margin-top: toRem(24);

           @include media-lg {
               margin-top: toRem(41);
           }
       }

       .img-cont {   
           background-size: contain;
           background-repeat: no-repeat;
           height: toRem(212);
           margin: 0 auto;
           width: toRem(259);

           @include media-lg {
               height: toRem(423.11);
               margin: 0%;
               width: toRem(520);
           }
       }

       .txt-cont {

        @include media-lg {
            width: toRem(520)
        }
           
       }

       .cont {

        padding: toRem(100) 0;

        @include media-lg {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 0;
        }
       }



       &--A {
        background-color: hsla(207, 100%, 98%, 1);
        position: relative;

        @include media-lg {
            
            flex-direction: row-reverse;
            
        }

        
       

        .img-cont {
            background-image: url('../images/illustration-grow-together.svg');    
        }

        &::before {
            content: "";
            background-image: url('../images/bg-section-top-mobile-1.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center top;
            height: 100%;
            left: 0;
            position: absolute;
            top: -29.33vw;
            width: 100%;

            @include media-lg {
                background-image: url('../images/bg-section-top-desktop-1.svg');
                top: -10.38vw;
            }
            
        }

        &::after {

            content: "";
            background-image: url('../images/bg-section-bottom-mobile-1.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 100%;
            left: 0;
            position: absolute;
            bottom: -13.33vw;
            width: 100%;

            @include media-lg {
                background-image: url('../images/bg-section-bottom-desktop-1.svg');
                bottom: -9vw;
            }
        }

       }

       &--B {

            margin-top: toRem(212.5);

            @include media-lg{
                margin-top: toRem(194.84);
            }
            
           .img-cont {
               background-image: url('../images/illustration-flowing-conversation.svg');
               
           }
       }

       &--C {
            background-color: hsla(207, 100%, 98%, 1);
            margin-top: toRem(227);
            margin-bottom: toRem(227);
            position: relative;
            .img-cont {
                background-image: url('../images/illustration-your-users.svg');
            }

            @include media-lg{
                margin-bottom: toRem(325);
                margin-top: toRem(420);
            }

            &::before {
                background-image: url('../images/bg-section-top-mobile-2.svg');
                background-repeat: no-repeat;
                background-size: contain;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: -26.67vw;
                width: 100%;

                @include media-lg {
                    background-image: url('../images/bg-section-top-desktop-2.svg');
                    top: -10.73vw;
                }
            }

            &::after {
                background-image: url('../images/bg-section-bottom-mobile-2.svg');
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                bottom: -26.67vw;
                width: 100%;

                @include media-lg {
                    background-image: url('../images/bg-section-bottom-desktop-2.svg');
                    bottom: -9.5vw;
                }
            }

        }
    }

    &--four {
        margin: 0 19.2vw;
        text-align: center;

        h2 {
            margin-bottom: toRem(43);
        }
    }
}