.btn {
    display: inline-block;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: toRem(12);
    line-height: toRem(18);

    @include media-md {
        font-size: toRem(16);
        line-height: toRem(22);
    }

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        opacity: 0.7;
    }

    &:focus {
        opacity: 0.5;
        outline: none;
    }

    &--white {
        border: 0.6px solid $pink;
        box-shadow: 0px 0px 5px hsla(322, 100%, 66%, 0.22);
        color: $pink;
    }

    &--sm {
        border-radius: 11.76px;
        padding: toRem(2.29) toRem(18.76) toRem(8.24) toRem(18.24);

        @include media-md {
            border-radius: 20px;
            padding: toRem(4) toRem(32) toRem(14) toRem(31);
        }
    }

    &--pink {
        background: hsla(322, 100%, 66%, 1) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 7px hsla(192, 100%, 9%, 0.22);
        border-radius: 20px;
        color: white;
        opacity: 1;
    }

    &--lg{
        
        padding: toRem(12) toRem(40);

        @include media-lg {
            border-radius: 40px;
            font-size: toRem(20);
            line-height: toRem(30);
            padding: toRem(25) toRem(100) toRem(28) toRem(100);
        }
    }

    &--sub {
        font-size: toRem(16);
        background: #FF52C1 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        line-height: toRem(24);
        opacity: 1;
        padding: toRem(13) toRem(42);
    }
}