@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

body {
    color: $primary-txt-color;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif; 
    
}

h1 {
    font-size: toRem(24);
    line-height: toRem(36);

    @include media-md {
        font-size: toRem(36);
        line-height: toRem(48);
    }

    @include media-lg {
        font-size: toRem(48);
        line-height: toRem(72);
    }
}

h2 {
    font-size: toRem(20);
    line-height: toRem(30);

    @include media-md {
        font-size: toRem(30);
        line-height: toRem(40);
    }

    @include media-lg {
        font-size: toRem(40);
        line-height: toRem(60);
    }
}

a,
li,
p {
    font-family: 'Open Sans', sans-serif;
    font-size: toRem(14);
    line-height: toRem(21);

    @include media-md {
        font-size: toRem(16);
        line-height: toRem(24);
    }

    @include media-lg {
        font-size: toRem(20);
        line-height: toRem(30);
    }
}