header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: toRem(28) 6.4vw 0 6.4vw;

    @include media-md {
        margin: toRem(79) 4.36vw 0 4.36vw;
    }

    .logo {
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: toRem(16);
        width: toRem(96);

        @include media-md {
            height: toRem(38);
            width: toRem(240);
        }
    }

    @include media-xl {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}